@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500;700&family=Inter:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  font-family: "Inter", sans-serif;
  height: 100vh;
}
.container {
  max-width: 1200px;
  margin: auto;
}

.header {
  width: 100%;
  top: 0;
  right: 0;

  align-items: center;
  background: rgba(36, 75, 130, 0.1);
  padding: 28px 12%;
  transition: all 0.5s ease;
}
.header-content {
  display: flex;
  justify-content: space-between;
}

.logo {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #244b82;
}

.navbar {
  display: flex;
}

.navbar li {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #898989;
  margin: 0px 30px;
  padding: 0.5rem;
}

.navbar li:hover {
  color: #244b82;
}

.navbar .current {
  color: #244b82;
}

.main {
  display: flex;
  align-items: center;
}

.main .btn-0 {
  margin-right: 25px;
  margin-left: 10px;
}

.main .btn-secondary {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #244b82;
  border: 1px solid #244b82;
  border-radius: 5px;
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main .btn-primary {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  background: #244b82;
  border-radius: 5px;
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main .btn-primary:hover {
  opacity: 80%;
}
.main .btn-secondary:hover {
  opacity: 70%;
}

.section-title {
  font-weight: 900;
  line-height: 1.5;
  margin-bottom: 1rem;
  color: white;
  padding: 0.2rem;
}
.footer {
  background-color: rgba(36, 75, 130, 0.81);
}

.footer-container {
  max-width: 700px;
  margin: auto;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2.5rem;
}

.footer-section-content {
  display: flex;
  flex-direction: column;
  padding: 0.2rem;
}
.footer-options {
  color: #d0d0d0;
}
